#!/bin/sh
# This is part of the scl-installer program: 
#    http://b9.com/scl-installer.html
#
# Copyright (c) 2002 Kevin M. Rosenberg <kmr@debian.org>
#
# scl-installer is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License (version 2) as
# published by the Free Software Foundation.
#
# scl-installer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have a copy of the GNU General Public License on your
# Debian system in the file /usr/share/common-licenses/GPL-2

set -e
 
. /usr/share/debconf/confmodule

pkg=ilisp

ask_keybindings()
{
    db_input high $pkg/fsf-compliant || true
    db_go || true
}


case "$1" in
    configure)
	ask_keybindings
	;;
    reconfigure)
	db_reset $pkg/fsf-compliant || true
	ask_keybindings
	;;
    *) 
	echo "config called with invalid option" >&2
	exit 0
	;;
esac

